<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_before">
        <observer instance="Rossmitchell\Twofactor\Observer\Customer\SaveBefore" name="rossmitchell_twofactor_observer_customer_savebefore_customer_save_before"/>
    </event>
    <event name="controller_action_postdispatch">
        <observer instance="Rossmitchell\Twofactor\Observer\Controller\Postdispatch" name="rossmitchell_twofactor_observer_controller_action_predispatch"/>
    </event>
</config>
